
@mixin circle ($color, $margin, $shadowColor){
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-left: $margin;
  background-color: $color;
  box-shadow: 0.2px 0.5px $shadowColor;
}

@mixin flex-box($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
