// Colors
$color-primary: #46C4F2;
$color-secondary: white;
$color-tertiary: #595959;

// Font-colors
$color-font-title: #595959;
$color-font-subtitle: white;
$color-font-text: #595959;
$color-font-text-links: #333333;

// Font-family
$Open-sans: 'Open Sans', sans-serif;

//Shadows
$box-shadow-resting: 0px 13px 21px -7px rgba(0, 0, 0, 0.3);
$box-shadow-hover: 0px 13px 21px 5px rgba(0, 0, 0, 0.3);
