

$textColor: #d9d9d9;
$border: 1px solid #333333;
$headerBorder: 1px solid #808080;
$projectRadius: 9px 9px 0 0;
$columnRadius: 10px;
$brgColor: #404040;
$brgColor2: white;
$brgColor3: #ffd633;
$brgColor4: #47d147;
$radius: 6px;
$mobileWidth: 420px;

