.main-nav {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 0;
  @include flex-box(column, center, center);
  transition: all 0.2s;
  background-color: $color-headers;
}

.nav-button {
  @include respond-to(mobile) {
    position: absolute;
    top: 3vh;
    right: 5vw;
    width: 15vw;
    height: 10vw;
    background-color: transparent;
    border: none;
    padding: 0;
    @include flex-box(column, space-between, center);
  }
}

.burger-bar {
  @include respond-to(mobile) {
    width: 45px;
    height: 5px;
    background-color: $color-tertiary;
  }
}

.nav-list {
  overflow: hidden;
  width: 100%;
  height: 50%;
  @include flex-box(column, space-between, center);
}

.nav-link {
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  color: $color-tertiary;
  font-weight: 700;
}

.main-nav-expanded {
  height: 100vh;
}

.main-nav-shortened {
  height: 0;
}



