//styling terminal

.main-terminal {
  width: 400px;
  height: 250px;
  background-color: white;
  position: fixed;
  top: 40%;
  right: 40%;
  border-radius: 5px;
  overflow: hidden;
  overflow-x: scroll;
  z-index: 4;
}

.terminal-header {
  width: 100%;
  background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
  border-radius: 4px 4px 0 0;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #a6a6a6;
  @include flex-box(row, flex-start, center);
}

.circles {
  width: 15%;
  margin-left: 7px;
  @include flex-box(row, space-between, center);
}

.circle-1 {
  @include circle(#ff5050, #e60000)
}

.circle-2 {
  @include circle(#ffcc00, #b38f00)
}

.circle-3 {
  margin-right: 7%;
  @include circle(#47d147, #196619)
}

.terminal-title {
  font-size: 15px;
  color: $color-font-text-links;
  line-height: 25px;
  vertical-align: middle;
  margin-left: 20px;
}

.terminal-body {
  font-size: 14px;
  padding-top: 4px;
  padding-left: 4px;
  color: $color-font-text-links;
}

.terminal-input{
  margin-top: -3px;
  color: $color-font-text-links;
  border: none;
  &:focus {
    outline: none;
  }
}

.terminal-instruction {
  color: #999999;
}

#slide-in {
  animation: slide-in 0.7s linear 1 forwards
}


#slide-out {
  animation: slide-out 0.7s linear 1 forwards
}

@keyframes slide-in {
  100% {
    transform: translate(-1000px, 0);
  }
}

@keyframes slide-out {
  0%{
    transform: translate(-1000px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}