@import './reset.css';

// ----------------------------------------- //
// ---------------- global ----------------- //
// ----------------------------------------- //

body {
  font-family: 'Open Sans', sans-serif;
}

// ----------------------------------------- //
// ------------ main-component ------------- //
// ----------------------------------------- //

// ----------------------------------------- //
// -------------- container ---------------- //
// ----------------------------------------- //

  .main-container {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

// ----------------------------------------- //
// -------------- content ------------------ //
// ----------------------------------------- //

.content {
  height: 70%;
  width: 100%;
  border: 1px solid red;
  border-radius: 8px;
}
