@import './reset.css';

// ----------------------------------------- //
// -------variables/mixins/extends --------- //
// ----------------------------------------- //

$headerColor: #ffcc66;
$textColor: #d9d9d9;
$border: 1px solid #333333;
$headerBorder: 1px solid #808080;
$brgColor: #404040;
$radius: 6px;

@mixin circle ($color, $margin, $shadowColor){
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-left: $margin;
  background-color: $color;
  box-shadow: 0.2px 0.5px $shadowColor;
}

@mixin header ($height, $border) {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  color:#bfbfbf;
  height: $height;
  background-color: #666666;
  border-bottom: $border;
  border-radius: 5px 5px 0 0;
}

@mixin baseStyles {
  background-color: $brgColor;
  border-radius: $radius;
  border: $border;
}

// ----------------------------------------- //
// ------------ global classes ------------- //
// ----------------------------------------- //

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 100%;
}

.col-1 {
  width: 33%;
}

.col-2 {
  width: 66%;
}


// ----------------------------------------- //
// ------------ main-component ------------- //
// ----------------------------------------- //

.main-component {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

// ----------------------------------------- //
// -------------- container ---------------- //
// ----------------------------------------- //

.main-container {
  width: 97%;
  height: 95%;
  display: flex;
  justify-content: space-between;

}

// ----------------------------------------- //
// -------------- content ------------------ //
// ----------------------------------------- //

.content {
  width: 67.5%;
  height: 75%;
  @include baseStyles;
  header {
    @include header (4%, $headerBorder);
    h1 {
      width: 120px;
    }
  }
}

.circle-4 {
  margin-right: 33%;
  @include circle(#47d147, 6px, #196619);
}

// ----------------------------------------- //
// -------------- AboutMe ------------------ //
// ----------------------------------------- //

.bio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bio-data {
  height: 479px;
  color: $textColor;
  border-right: $border;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    height: 300px;
    width: 90%;
    background-color: red;
  }
  h1 {
    color: $headerColor;
  }
}

.bio-description {
  height: 543px;
  color: $textColor;
  h1  {
    color: $headerColor;
    margin-top: 25px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
  }
  p {
    margin-top: 25px;
    font-size: 18px;
  }
}

// ----------------------------------------- //
// -------------- terminal ----------------- //
// ----------------------------------------- //

.terminal {
  font-size: 14px;
  width: 32%;
  height: 40%;
  align-self: flex-end;
  @include baseStyles;
  header {
    @include header(9%, $headerBorder)
  }
}

.circle-1 {
  @include circle(#ff5050, 8px,#e60000)
}

.circle-2 {
  @include circle(#ffcc00, 6px, #b38f00)
}

.circle-3 {
  margin-right: 7%;
  @include circle(#47d147, 6px, #196619)
}

.terminal-body {
  color: $textColor;
  height: 90%;
  overflow-y: scroll;
  p {
    color: #8c8c8c;
  }
  input {
    color: $textColor;
    background-color: $brgColor;
    border: none;
  }
}
