@import './reset.css';

// ----------------------------------------- //
// -------variables/mixins/extends --------- //
// ----------------------------------------- //

$textColor: #d9d9d9;
$border: 1px solid #333333;
$headerBorder: 1px solid #808080;
$brgColor: #404040;
$brgColor2: white;
$brgColor3: #ffcc00;
$brgColor4: #47d147;
$radius: 6px;

@mixin sizing ($width, $height){
  height: $height;
  width: $width;
}

@mixin circle ($color, $margin, $shadowColor){
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-left: $margin;
  background-color: $color;
  box-shadow: 0.2px 0.5px $shadowColor;
}

@mixin header ($height, $border) {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  color:#bfbfbf;
  height: $height;
  background-color: #666666;
  border-bottom: $border;
  border-radius: 5px 5px 0 0;
}

@mixin baseStyles ($brgColor, $radius, $border){
  background-color: $brgColor;
  border-radius: $radius;
  border: $border;
}

@mixin baseStyles ($width, $height, $BackColor, $TextColor, $border, $borderRadius) {
  
}

@mixin bioStyles ($position){
  display: flex;
  flex-direction: column;
  justify-content: $position;
  align-items: center;
  background-color: $brgColor2;
  height: 460px;
  color: $brgColor;
  border-radius: 3px;
}

@mixin headerStyles ($fontSize) {
  font-size: $fontSize;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
}

// ----------------------------------------- //
// ------------ global classes ------------- //
// ----------------------------------------- //

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 97%;
}

.col-1 {
  width: 33%;
}

.col-2 {
  width: 66%;
}


// ----------------------------------------- //
// ------------ main-component ------------- //
// ----------------------------------------- //

.main-component {
  height: 100vh;
  background-color: $brgColor3;
  display: flex;
  justify-content: center;
  align-items: center;
}

// ----------------------------------------- //
// -------------- container ---------------- //
// ----------------------------------------- //

.main-container {
  @include sizing(97%, 95%);
  display: flex;
  justify-content: space-between;

}

// ----------------------------------------- //
// -------------- content ------------------ //
// ----------------------------------------- //

.content {
  @include sizing(67.5%, 75%);
  @include baseStyles($brgColor, $radius, $border);
  header {
    @include header (4%, $headerBorder);
    h1 {
      width: 20%;
    }
  }
}

.main-content {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.circle-4 {
  margin-right: 33%;
  @include circle(#47d147, 6px, #196619);
}

// ----------------------------------------- //
// -------------- AboutMe ------------------ //
// ----------------------------------------- //

.bio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bio-data {
  @include bioStyles(space-between);
  .bio-picture {
    @include sizing(100%,70%);
    img {
      @include sizing(50px, 50px);
    }
  }
  .bio-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    @include baseStyles($brgColor4, 0 0 3px 3px, none);
    @include sizing(100%,30%);
    h1 {
      @include headerStyles(140%);
    }
  }
}

.bio-description {
  @include bioStyles(flex-start);
  h1  {
    line-height: 250%;
    vertical-align: middle;
    background-color: $brgColor4;
    border-radius: 3px 3px 0 0;
    @include sizing(100%,15%);
   @include headerStyles(170%);
  }
  p {
    width: 95%;
    font-size: 110%;
    margin-top: 3%;
  }
}

// ----------------------------------------- //
// -------------- terminal ----------------- //
// ----------------------------------------- //

.terminal {
  font-size: 14px;
  align-self: flex-end;
  @include sizing(32%,40%);
  @include baseStyles($brgColor, $radius,$border);
  header {
    @include header(9%, $headerBorder)
  }
}

.circle-1 {
  @include circle(#ff5050, 8px,#e60000)
}

.circle-2 {
  @include circle(#ffcc00, 6px, #b38f00)
}

.circle-3 {
  margin-right: 7%;
  @include circle(#47d147, 6px, #196619)
}

.terminal-body {
  color: $textColor;
  height: 90%;
  overflow-y: scroll;
  p {
    color: #8c8c8c;
  }
  input {
    color: $textColor;
    background-color: $brgColor;
    border: none;
  }
}
