@import './reset.css';

// ----------------------------------------- //
// -------variables/mixins/extends --------- //
// ----------------------------------------- //

$textColor: #d9d9d9;
$border: 1px solid #333333;
$headerBorder: 1px solid #808080;
$brgColor: #404040;
$brgColor2: white;
$brgColor3: #ffcc00;
$brgColor4: #47d147;
$radius: 6px;

@mixin sizing ($width, $height){
  height: $height;
  width: $width;
}

@mixin circle ($color, $margin, $shadowColor){
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-left: $margin;
  background-color: $color;
  box-shadow: 0.2px 0.5px $shadowColor;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin baseStyles ($width, $height, $backColor, $textColor, $border, $borderRadius) {
  width: $width;
  height: $height;
  background-color: $backColor;
  color: $textColor;
  border: $border;
  border-radius: $borderRadius;
}

@mixin headerStyles ($fontSize) {
  font-size: $fontSize;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
}

@mixin smallLogoStyles ($height, $width, $url) {
  background-image: $url;
  background-size: $height $width;
  background-repeat: no-repeat;
  background-position: center;
}

// ----------------------------------------- //
// ------------ global classes ------------- //
// ----------------------------------------- //

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 97.5%;
}

.col-1 {
  width: 33%;
}

.col-2 {
  width: 66%;
}

.col-3 {
  width: 33%;
}

// ----------------------------------------- //
// ------------ main-component ------------- //
// ----------------------------------------- //

.main-component {
  @include baseStyles(100%, 100vh, none, none, none, none);
  @include flex(row, center, center);
}

// ----------------------------------------- //
// -------------- container ---------------- //
// ----------------------------------------- //

.main-container {
  @include sizing(97%, 95%);
  @include flex(row, space-between, flex-start);
}

// ----------------------------------------- //
// -------------- content ------------------ //
// ----------------------------------------- //

.content {
  @include baseStyles(67.5%, 75%, $brgColor, none, $border, $radius);
  header {
    @include flex(row, flex-start, center);
    @include baseStyles(100%, 4%, #666666, #bfbfbf, none , 5px 5px 0 0 );
    border-bottom: $headerBorder;
    h1 {
      text-align: center;
      width: 20%;
    }
  }
}

.main-content {
  @include flex(row, center, flex-start);
  margin-top: 8px;
}

.circle-4 {
  margin-right: 33%;
  @include circle(#47d147, 6px, #196619);
}

// ----------------------------------------- //
// -------------- AboutMe ------------------ //
// ----------------------------------------- //

.bio {
  @include flex(row, space-between, flex-start);
}

.bio-data {
  box-shadow: 2px 2px grey;
  @include flex(column, space-between, flex-start);
  @include baseStyles(100%, 460px, $brgColor3, $brgColor, none, 3px);
  .bio-picture {
    @include sizing(100%,70%);
    img {
      @include sizing(50px, 50px);
    }
  }
  .bio-contact {
    @include flex( column, center, center);
    @include baseStyles(100%, 33%, none, none, none, 0 0 3px 3px);
    h1 {
      @include headerStyles(140%);
    }
  }
}

.bio-description {
  box-shadow: 2px 2px grey;
  @include flex(column, flex-start, center);
  @include baseStyles(100%, 460px, $brgColor2, $brgColor, none, 3px);
  h1  {
    line-height: 250%;
    vertical-align: middle;
    @include baseStyles(100%, 15%, $brgColor4, none, none, 3px 3px 0 0);
    @include headerStyles(170%);
  }
  p {
    width: 95%;
    font-size: 110%;
    margin-top: 3%;
  }
}

// ----------------------------------------- //
// ------------- Projects ------------------ //
// ----------------------------------------- //

.projects {
  @include flex(row, space-between, flex-start)
}

.project {
  @include baseStyles(100%, 460px, $brgColor2, none, 1px solid #cccccc, $radius);
  h2 {
    text-align: center;
    @include baseStyles(100%, 5%, #666666, none, none, none);
  }
}

.project-preview {
  //background-image: url("imgs/pick-pokemon.png");
  height: 35%;
}

.pokemonGame {
  @include baseStyles(100%, 100%, none, none, none, 4px 4px 0 0);
  @include smallLogoStyles(100%, 105%, url("imgs/pick-pokemon2.png"));
}

.project-technologies {
  @include flex(row, center, center);
  @include baseStyles(100%, 13%, #ffd633, none, none, none);
}

.project-list-of-tech {
  width: 80%;
  @include flex(row, space-between, center);
  .small-logo {
    @include baseStyles(50px, 50px, $brgColor2, none, $headerBorder, 50%);
  }
  .react {
    @include smallLogoStyles(39px, 36px, url("imgs/react-log.png"));
  }
  .redux {
    @include smallLogoStyles(51px, 44px, url("imgs/redux-logo.png"));
  }
  .js {
    @include smallLogoStyles(30px, 40px, url("imgs/js-logo.png"));
  }
  .sass {
    @include smallLogoStyles(35px, 30px, url("imgs/sass-log.png"));
  }
  .html {
    @include smallLogoStyles(43px, 40px, url("imgs/HTML_Logo.png"));
  }
  .css {
    @include smallLogoStyles(31px, 42px, url("imgs/CSS3_logo.png"));
  }
}

// ----------------------------------------- //
// -------------- terminal ----------------- //
// ----------------------------------------- //

.terminal {
  @include baseStyles(32%, 40%, $brgColor, none, $border, $radius);
  font-size: 14px;
  align-self: flex-end;
  header {
    @include flex(row, flex-start,center);
    @include baseStyles(100%, 9%, #666666, #bfbfbf, none, 5px 5px 0 0);
    border-bottom: $headerBorder;
  }
}

.circle-1 {
  @include circle(#ff5050, 8px, #e60000)
}

.circle-2 {
  @include circle(#ffcc00, 6px, #b38f00)
}

.circle-3 {
  margin-right: 7%;
  @include circle(#47d147, 6px, #196619)
}

.terminal-body {
  color: $textColor;
  height: 90%;
  overflow-y: scroll;
  p {
    color: #8c8c8c;
  }
  input {
    color: $textColor;
    background-color: $brgColor;
    border: none;
  }
}
